body {
  background-image: url("./imgs/bg-lista.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaApp {
  background-color: var(--branco);
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 30px;
  width: 800px;
  box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.listaApp h1 {
  text-align: center;
  margin-bottom: 10px;
}

.listaApp p {
  margin-bottom: 10px;
}

button {
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 1;
  transition: 0.3;
  background-color: var(--azul);
  color: var(--branco);
}

button:hover {
  opacity: 0.8;
}

select {
  border: 1px solid var(--preto);
  margin-right: 10px;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--cinza-claro);
}

input {
  border: 1px solid var(--preto);
  padding: 5px 10px;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--cinza-claro);
}

hr {
  background: var(--preto);
  height: 1px;
  margin: 10px 0;
}