* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --branco: #fff;
  --preto: #000;
  --azul: #114fb0;
  --cinza-claro: #e8e8e8;
}